datasets/*
output/embeddings/*
output/detection/*
output/evaluation/*
output/examples/*
output/figures/*
output/true_data.json
output/true_data_big.json
output/true_data_small.json
output/figures.zip
output/stats_embedding_handler.json
output/stats_embedding_handler.zip
output/embeddings.zip
output/rest_to_process_with_gpt3.json
output/gpt3-remaining-embeddings.csv
tmp1.txt
tmp2.txt
tmp.txt
